--only-binary=:all:
--prefer-binary
beautifulsoup4
bokeh
certifi
charset-normalizer
contourpy
cycler
fonttools
idna
importlib_resources
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
requests
requests-toolbelt
seaborn
six
soupsieve
tornado
urllib3
xarray
xyzservices
zipp
jupyterlab
plotly
pip-system-certs
requests
hec-python-library
cwms-python
dataretrieval
hyswap
hecdss
metar
git+https://github.com/HydrologicEngineeringCenter/cwms-cli.git@main